<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>club_form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../ckeditor/ckeditor.js"></script>
</head>

<body>

  <div class="container" style="align-items: center; display: flex; justify-content: center; margin-top: 100px;">
    <form action="/scholership/add" method="POST" style="margin: 40px;" enctype="multipart/form-data">
      <h1>Enter Club Details</h1>
        <div> 
        Extra Content:
       </div>

      <textarea id="content" name="ClubExtraContent" rows="3"> </textarea>

      <div id="addMoreMembers">
      </div>

      {{!-- <button type="button" onclick="funcn()">Add more members</button> &nbsp; &nbsp;
      <button type="button" onclick="funcn1()">Delete members</button> --}}



       
      <button type="submit" class="btn btn-outline-success" style="margin: 20px;">Submit</button>
    </form>
  </div>
</body>



<div></div>
<script>
  CKEDITOR.replace('ClubExtraContent',{
    fullPage: true,
     allowedContent: true,
    autoGrow_onStartup: true,
    enterMode: CKEDITOR.ENTER_BR
  });
  
  window.addEventListener('load', (event) => {
    const link = `http://localhost:8080/scholership/get/`;
    //console.log(link)
    fetch(link)
    .then(response => response.json())
    .then(data => {  
        if(data[0]!=undefined)
    CKEDITOR.instances.content.insertHtml(data[0].Content);
    });
  });
  
</script>

</html>